<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientSecret</key>
	<string>zM3mLaJ0InC6KEYyKoVW72rjLZgkBd5VslWRwQYNgGgexzBcE8mpJwwKZA3se9Sv</string>
	<key>clientID</key>
	<string>xO7Joq3JQiiPnL0skXg41w</string>
	<key>authToken</key>
	<string>oyLiuv1vxoXBemw6gBGVuGaT2zTG34jerpb6GZWjV8KoXIfk87GeV52fq4WEbyn7_6lBP42KB4JERXPxHlHn6fhy_1m2M0LmeLzY6aPtkDoJQ0hGLID-nUIHCajAWXYx</string>
</dict>
</plist>
